    .events-items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        max-width: 1100px;
        margin: 0 auto;
        button.load-more {
            padding: 15px;
            background: none;
            border: 1px solid #fff;
            border-radius: 5px;
            color: #fff;
            font-family: inherit;
            font-size: 17px;
            margin: 25px auto;
            width: 150px;
        }
    }
    .events-item-front {
        background-image: url(../images/items/kids-event.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        margin: 5px;
        height: 250px;
        border: 1px solid #555;
        border-radius: 5px;
        text-align: center;
        padding: 15px;
        transition: transform .5s ease-in-out; 
        .event-date {
            position: relative;
            top: 230px;
            font-size: 25px;
            color: #555;
            max-width: 200px;
        }
        .event-details{
            display: none;
            position: relative;
            top: 0;
            font-size: 20px;
            color: #555;
            max-width: 200px;
            margin-bottom: 5px;
        }
        .ticket{
            display: none;
            .get-tickets{
                padding: 10px;
                background: linear-gradient(#9ec14c, #41b14f);
                border: none;
                border-radius: 5px;
                color: #fff;
                font-family: inherit;
                font-size: 17px;
                margin-top: 5px;
                cursor: pointer;
            }

        }
        &:hover{
            background: #fff;
            width: 200px;
            margin: 5px;
            height: 250px;
            border: 1px solid #555;
            border-radius: 5px;
            text-align: center;
            padding: 15px;
            color: #000;
        }

    }
    .events-item-front:hover{
        transform: rotateY(180deg);
    }
    .events-item-front:hover .event-details {
        display: block;
        transform: rotateY(180deg);
    }
    .events-item-front:hover .ticket {
        display: block;
        transform: rotateY(180deg);
    }
    .events-item-front:hover .event-date {
        display: none;
        position: relative;
        top: 230px;
        font-size: 18px;
        color: #e73e32;
        max-width: 200px;
    }
    #events{
        padding: 50px;
        background: #e73e32;
        h2{
            text-align: center;
            color: #fff;
            font-size: 30px;
            margin-bottom: 10px;
            margin-top: 0;
        }
        h3{
            text-align: center;
            color: #fff;
            font-size: 25px;
            margin-top: 0;
        }
        img{
            width: 242px;
            float: right;
            
        }
    }
    .get-tickets{
        padding: 15px;
        background: linear-gradient(#9ec14c, #41b14f);
        border: none;
        border-radius: 5px;
        color: #fff;
        font-family: inherit;
        font-size: 17px;
        margin-top: 5px;
    }

    .events-item-first {
        background: #fff;
        width: 200px;
        margin: 5px;
        height: 250px;
        border: 1px solid #555;
        border-radius: 5px;
        text-align: center;
        padding: 15px;
        position: relative;
        float: initial;
        transform-origin: 0 100%;
        transform: rotate(-11deg);
        transition: transform .5s ease-out;
        padding-bottom: 15px;
        &:hover{
            transform: rotate(0deg);
        }
        .item-title-first{
            p:nth-of-type(1){
                color: #e73e32;
                font-size: 30px;
                font-weight: bold;
            }
            p:nth-of-type(2){
                color: #555;
                font-size: 25px;
                font-weight: bold;
            }
        }
    }
   //LOAD MORE
    .more-events {
    height: 0px;
    overflow: hidden;
    transition: height 0.9s;
    }




