    .handicrafts-items, .recipes-items, .art-items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        margin: 0 auto;
        max-width: 1100px;
    }
    .handicrafts-items, .art-items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        button.load-more {
            padding: 15px;
            background: none;
            border: 1px solid #fff;
            border-radius: 5px;
            color: #fff;
            font-family: inherit;
            font-size: 17px;
            margin: 25px auto;
            width: 150px;
        }
    }

    .handicrafts-item {
        background-image: url(../images/items/valentine32.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        margin: 5px;
        height: 250px;
        border: 1px solid #555;
        border-radius: 5px;
        text-align: center;
        padding: 15px;
        transition: opacity 1s;
        &:hover{
            opacity: 0.6;
            color: #fff;
            
    }
        .item-title {
            position: relative;
            top: 220px;
            font-size: 15px;
            color: #555;
            max-width: 200px;
        }
    }
    .recipes-item{
        &:nth-child(1){
            background-image: url(../images/items/c9023d1aa05d0c0b56d428a3536cb9e2.png);
        }
        &:nth-child(2){
            background-image: url(../images/items/ba4c92de30c357d7fe3e0a252e290e55.png);
        }
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        margin: 5px;
        height: 250px;
        border: 1px solid #555;
        border-radius: 5px;
        text-align: center;
        padding: 15px;
        transition: opacity 2s;
        &:hover{
            opacity: 0.6;
            color: #fff;
    }
        .item-title {
            position: relative;
            top: 220px;
            font-size: 17px;
            color: #fff;
            max-width: 200px;
        }
    }
    .art-item {
        background-image: url(../images/items/teacup_mermaid_bubblebath.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        margin: 5px;
        height: 250px;
        border: 1px solid #555;
        border-radius: 5px;
        text-align: center;
        padding: 15px;
        transition: opacity 2s;
        &:hover{
            opacity: 0.6;
            color: #fff;
    }
        .item-title {
            position: relative;
            top: 235px;
            font-size: 15px;
            color: #555;
            max-width: 200px;
        }
    }
    .handicrafts-item-first, .recipes-item-first, .art-item-first {
        background: #fff;
        width: 200px;
        margin: 5px;
        height: 250px;
        border: 1px solid #555;
        border-radius: 5px;
        text-align: center;
        padding: 15px;
        position: relative;
        float: initial;
        transform-origin: 0 100%;
        transform: rotate(-11deg);
        transition: transform .2s ease-out;
        padding-bottom: 15px;
        transition: transform .5s ease-in-out;  
        &:hover{
            transform: rotate(0deg);
        }
        .item-title-first{
            p:nth-of-type(1){
                color: #e73e32;
                font-size: 30px;
                font-weight: bold;
            }
            p:nth-of-type(2){
                color: #555;
                font-size: 25px;
                font-weight: bold;
            }
        }
    }
    #handicrafts, #art{
        padding: 50px;
        background: #e73e32;
        h2{
            text-align: center;
            color: #fff;
            font-size: 30px;
            margin-bottom: 10px;
            margin-top: 0;
        }
        h3{
            text-align: center;
            color: #fff;
            font-size: 25px;
            margin-top: 0;
        }
        img{
            width: 242px;
            float: right;
            
        }
    }
    #recipes{
        padding: 50px;
        background: #fff;
        h2{
            text-align: center;
            color: #e73e32;
            font-size: 30px;
            margin-bottom: 10px;
            margin-top: 0;
        }
        h3{
            text-align: center;
            color: #e73e32;
            font-size: 25px;
            margin-top: 0;
        }
        img{
            width: 242px;
            float: left;
            
        }
    }
    section.item-page {
        padding: 75px;
        display: flex;
        .author-img img {
            border: 5px solid #fff;
            border-radius: 5px;
            transform-origin: 0 100%;
            transform: rotate(-11deg);
            transition: transform .5s ease-in-out;  
            &:hover{
                transform: rotate(0deg);

            }
        }
            .item-date{
                font-size: 1em;
            }
            .comment{
                font-size: 1em;
                font-family: inherit;
                color: #e73c31;
                font-weight: 100;
                padding-left: 15px;
                cursor: pointer;
            }
            a{
                font-size: 1em;
            }
            p{
                line-height: 1.5;
                max-width: 600px;
            }
            h2.item-title {
                color: #e73c31;
            }
        }
    .item-image{
                img{
                    width: 100%;
                    float: none;
                    border-radius: 5px 5px 0 0
                }
    }
    .share{
        margin-top: 50px;
        title{
            display: block;
            margin-bottom: 15px;
        }
        a{
            img{
                width: 50px;
            }
        }
    }
    .comments{
        margin-top: 30px;
        .your-comment{
            title{
                display: block;
                font-size: 20px;
                color: #e73c31;
            }
            textarea{
                width: 490px;
                height: 150px;
                margin: 5px 0;
                padding: 10px;
                border: 1px solid #555;
            }
            input[type="text"]{
                width: 490px;
                height: 50px;
                margin: 5px 0;
                padding: 0 10px;
                border: 1px solid #555;
            }
            button {
                padding: 15px;
                background: linear-gradient(#9ec14c,#41b14f);
                border: none;
                border-radius: 5px;
                color: #fff;
                font-family: inherit;
                font-size: 17px;
                margin-top: 5px;
                transition: background 0.2s linear;
                &:hover{
                    background: linear-gradient(#41b14f, #9DC14B);
                }
            }

        }
    }
    #all-comments{
        margin-top: 20px;
            title{
                display: block;
                font-size: 20px;
                color: #e73c31;
        }
        .all-comments-row {
            margin: 20px 0;
            border: 1px solid #ccc;
            padding: 20px;
            .all-comments-img{
                img{
                    border: 5px solid #fff;
                    border-radius: 5px;
                    transform-origin: 0 100%;
                    transform: rotate(-11deg);
                    transition: transform .5s ease-out;
                    &:hover{
                        transform: rotate(0deg);
                    }
                }
            }
            .all-comments-name {
                margin-left: 10px;
                font-weight: bold;
            }
            .all-comments-message {
                margin: 15px 0;
                color: #555;
            }
        }
    }
    ul.instructions {
        padding-left: 30px;
        li{
            list-style: decimal-leading-zero;
        }
        img{
            width: 500px;
            margin: 25px 0;
        }
        img:last-of-type{
            width: 250px;
        }
    }
    ul.ingredients{
        padding-left: 0;
        line-height: 1.5;
        margin-bottom: 0;
        li{
            list-style: none;
        }
        img{
            width: 500px;
            margin-top: 25px;
        }
    }
    .item{
        background: #f6f7f6;
        padding: 40px 50px;
        border-radius: 5px;
        .item-text{
        img{
            width: 500px;
        }
    }
    }
    .sidebar{
        .categories{
            title{
                display: block;
                color: #000;
                margin: 0 15px;
            }
            ul{
                padding-left: 15px;
                li{
                    padding: 3px 0;
                    a{
                        color: #a9a9a9;
                        &:hover{
                            color: #757575;
                        }
                    }
                }
            }
        }
        .item-search {
            margin: 35px 15px;
            input[type="search"] {
                height: 35px;
                padding: 0 0 0 30px;
                background-image: url(../images/search-gray.png);
                background-repeat: no-repeat;
                background-position-y: 2px;
            }
        }
        .sidebar-ad-img{
            margin: 15px;
            img{
                width: 220px;
            }
        } 
    }
    .item-gallery, .item-video{
        width: 500px;
        margin-top: 25px;
        img{
            width: 100%;
            max-height: 280px;
            margin-bottom: 25px;
        }
        .item-gallery-title, .item-video-title {
            font-size: 1.5em;
            color: #e73c31;
            text-align: left;
            margin: 15px 0;
        }
        .gallery-buttons{
                margin-top: -200px;
                position: absolute;
                .button-display-left {
                    left: 0;
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    opacity: 0.8;
                }
                .button-display-right {
                    left: 460px;
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    opacity: 0.8;
                }
        }
    }
    .gallery-images {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        .item-gallery{
            width: 250px;
            height: 250px;
            margin-right: 15px;
            margin-top: 0;
        }
    }
    .video{
        title {
            display: block;
            color: #e73c31;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
    .next-pre{
        margin: 50px auto;
        span{
            padding: 15px;
            background: linear-gradient(#9ec14c, #41b14f);
            border: none;
            border-radius: 5px;
            color: #fff;
            font-family: inherit;
            font-size: 17px;
            margin-top: 5px;
            transition: background 0.2s linear;
            &:hover{
                background: linear-gradient(#41b14f, #9EC14B);

            }
        }
    }

    //GALLERY
     /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.alertvalid{
	visibility: hidden;
	color: red;
}
//LOAD MORE
.more-handicrafts {
height: 0px;
overflow: hidden;
transition: height 0.9s;
}
.more-recipes {
height: 0px;
overflow: hidden;
transition: height 0.9s;
}
.more-art {
height: 0px;
overflow: hidden;
transition: height 0.9s;
}









