@import "_variables.scss";
@import "_header.scss";
@import "_articles.scss";
@import "_stars.scss";
@import "_playground.scss";
@import "_books.scss";
@import "_events.scss";
@import "_article-page";
@import "_music.scss";
@import "_items-cards.scss";
@import url('https://fonts.googleapis.com/css?family=Courgette');
body{
    font-family: cursive;
    margin: 0 auto;
}
.logo {
    display: block;
    padding: 60px 0;
    float: left;
}
.logo-mobile {
    display: none;
}
a{
    text-decoration: none;
}
#main {
    margin-top: -4px;
}
.main-content{
    position: relative;
}
.seriously-red {
    display: block;
    position: relative;
    right: 0;
    color: #fff;
    border: 1px solid #0071c1;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 30PX;
    margin-right: 100px;
    background-image: url(images/red.png);
    background: linear-gradient(to bottom, #0071c1, #b6d6ed);
    transition: all .2s ease-out;
}
.seriously:hover .seriously-red {
    color: #e82429;
    background: #fff;
}
.seriously{
    position: absolute;
    right: 0;
    img:nth-of-type(1) {
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
    }
    img:nth-of-type(2) {
        width: 115px;
        position: absolute;
        right: 0;
        top: 0;
    }
}
.ad {
    background: linear-gradient(to bottom, #0071c1, #b6d6ed);
    color: #fff;
    padding: 120px 50px;
    a{
        color: #fff;
    }
    p {
        margin-top: 0;
        
        font-size: 1.3em;
        font-family: sans-serif;
        line-height: 1.5;
    }
    img{
        width: 300px;
        transform-origin: 0 100%;
        transform: rotate(-11deg);
        transition: transform .2s ease-out;
        float: right;
        margin: -100px 40px 0 0 ;
        transition: transform .5s ease-in-out;  
        &:hover {
            transform: rotate(0deg);
        }
    }

    .close-ad {
        float: right;
        margin-top: -45px;
        padding: 15px;
        border-radius: 5px;
        color: darkslategray;
        font-size: 25px;
        cursor: pointer;
        &:hover{
            color: #e82429;
        }
    }

}
.btn-ad{
    text-decoration: none;
}
a.btn-ad {
    background: linear-gradient(#9ec14c,#41b14f);
    padding: 15px;
    position: absolute;
    margin-top: 1%;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
}
.event-ad {
    background: linear-gradient(to bottom, #0071c1, #b6d6ed);
    color: #fff;
    padding: 70px;
    text-align: center;
    position: relative;
    z-index: 112;
    a{
        color: #fff;
    }
    p {
        margin-top: 0;
        font-size: 1.3em;
        font-family: sans-serif;
        line-height: 1.5;
        max-width: 700px;
        margin: 0 auto;
    }
    h1{
        text-align: center;
    }
    img{
        width: 350px;
        float: none;
        margin-top: 75px;
        margin-bottom: -74px;
    }
    .close-ad {
        float: right;
        margin-top: -45px;
        padding: 15px;
        background: linear-gradient(to bottom, #f88040, #e82429);
        border-radius: 5px;
    }
    .btn-ad{
        color: #0071c1;
        background: #fff;
        position: relative;
        top: 25px;
        font-size: 25px;
    }

}
.latest-posts-horizontal{
    transform: rotateZ(90deg) translateX(59em) translateY(57em);
}
.latest-posts-horizontal::before {
    content: "";
    width: 110px;
    display: inline-block;
    background-color: #000;
    height: 1px;
    margin-bottom: 4px;
    margin-right: 10px;
    margin-left: -115px;
}
section.posts {
    background: #f6f3f2;
    padding: 30px;
}
.latest-posts {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.article-post {
    padding: 35px;
    color: #666;
    margin-bottom: 55px;
    position: relative;
    transition: all 0.8s ease;
    p {
        color: #777;
        line-height: 1.5;
    }
    &:hover{
        background: #fff;
        transform: scale(1.2);
        z-index: 10;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.42);
    }
    img{
        width: 200px;
        margin-left: 25%;
    }
    title{
        color: #000;
    }
}
.article-last-post{
    background: #e82429;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    img{
        width: 200px;
    }
}
a.article-post-author span{
    text-decoration: none;
}
.read-more a {
    text-decoration: none;
    color: #2da2c5;
    position: absolute;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    left: 0;
    bottom: 0;
}
.article-post:hover .read-more a {
    background: #2da2c5;
    color: #fff;
}
.post-date {
    color: #666;
    font-family: sans-serif;
    font-size: .8em;
}
.post-title {
    color: #000;
    font-size: 1.5em;
    padding: 15px 0;
    &:hover{
        color: #e82429;
    }
}
.post-author {
    color: #666;
}
.article-last-post .post-title {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}
.article-last-post .post-author{
    color: #fff;
}
.article-last-post p a {
    color: #fff;
    font-size: 1.5em;
    font-family: sans-serif;
}
.article-last-post .last-post-a{
    color: #fff;
    text-decoration: underline;
}
.article-last-post span{
    background: #fff;
}
.for-me {
    text-decoration: none;
    text-align: center;
    background: #fff;
    font-size: 1.2em;
    padding: 10px;
    line-height: 1em;
    width: 122px;
    margin: 15px auto;
    border-radius: 10px;
    .for-me a{
        background: #fff;
        color: #2da2c5;
        &:hover{
            color: #e82429;
        }
    }
}
.have-an-account {
    width: 125px;
    margin: 0 auto;
}
.have-an-account a {
    color: #fff;
    text-decoration: underline;
    margin-left: 3px;
}
.cover{
    z-index: 112;
    position: relative;
}
.ad-1{
    p{
        font-size: 1.3em;
        line-height: 2;
    }
    li{
        list-style: disc;
        font-size: 1.3em;
        line-height: 2;
    }
    img {
        float: right;
        position: absolute;
        margin-left: 500px;
        top: 78px;
    }
}
footer {
    background: #e82429;
    position: relative;
    z-index: 112;
    .search-results-footer{
        /*padding: 35px;*/
        title {
            display: block;
            color: #fff;
            text-align: center;
            padding: 35px 0 0 0;
            font-size: 25px;
        }
        ul.topics-list {
            padding: 25px 100px;
            margin: 0;
            color: #fff;
            font-size: 17px;
            text-align: center;
            display: inline-none;
            li{
                display: inline-block;
                padding: 10px;
                font-size: 23px;
                &:hover{
                    color: #000;
                }
            }
        }
    }
    .footer-menu {
        text-align: center;
        color: #fff;
        padding: 20px;
        max-width: 590px;
        margin: 0 auto;
        li{
            padding: 5px;
            display: inline-block;

        }
    }
    .scrollToTop{
        background: whiteSmoke;
        font-weight: bold;
        color: #444;
        text-decoration: none;
        position:fixed;
        top:500px;
        right:40px;
        display:none;
        background: url('arrow_up.png') no-repeat 0px 20px;
        transform-origin: 0 100%;
        transform: rotate(-11deg);
        transition: transform .5s ease-out;
        &:hover{
            text-decoration:none;
            transform: rotate(0deg);
        }
        img {
            width: 50px;
            height: 50px;
        }
        img:nth-of-type(2){
            width: 75px;
            height: 75px;
            position: absolute;
            top: 0;
            right: 15px;
        }
    }
}
button.load-more {
    padding: 15px;
    background: none;
    border: 1px solid #2da2c5;
    border-radius: 5px;
    color: #2da2c5;
    font-family: inherit;
    font-size: 17px;
    margin: 25px auto;
    width: 150px;
}



@media only screen and (min-width : 768px) and (max-width : 1024px){
    .logo{
        display: none ;
    }
    .logo-mobile {
        display: block ;
        margin: 25px 55px;
        float: left;
    }
    section.articles {
        display: block;
    }
    .latest-posts {
        display: grid;
        grid-template-columns: repeat(1, 1fr) ;
    }
    .topics-button {
        display: none;
    }
    ul.main-menu {
        display: none;
    }
    .menu-item-title {
        font-size: 40px;
        margin: 0;
        padding: 25px;
    }
    .mobile-menu {
        display: block;
        position: absolute;
        right: 60px;
        top: 60px;
        font-size: 20px;
        width: 130px;
    }
    .mobile-button {
        border: 3px solid #fff;
        border-radius: 5px;
        color: #fff;
        position: absolute;
        text-align: center;
        line-height: 2;
        font-family: sans-serif;
        background-image: url(images/search.png);
        display: block;
        width: 200px;
        font-size: 40px;
        right: 0px;
    }
    ul.mobile-menu-list {
        display: inline-block;
        color: #fff;
        position: relative;
        margin-right: 215px;
        margin-top: 60px;
        a {
            font-size: 25px;
            border: 1px solid #fff;
            display: inherit;
            color: #fff;
            padding: 30px;
        }
    }
    input#topic-search {
        width: 875px;
        height: 60px;
        border-radius: 5px;
        margin-left: 4%;
        padding: 25px;
        font-size: 20px;
        margin-top: 30px;
    }
    //PLAYGROUND
    #handicrafts, #recipes, #art{
        img{
            display: none;   
        }
        .handicrafts-items, .recipes-items, .art-items  {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
            position: relative;
        }
        .handicrafts-item-first, .recipes-item-first, .art-item-first {
            width: 100%;
            padding: 0;
            transform: rotate(0deg);
            border: none;
            height: 150px;
        }
        .handicrafts-item-1, .handicrafts-item-2, .handicrafts-item-3,.handicrafts-item-4,.handicrafts-item-5,.handicrafts-item-6,.handicrafts-item-7,.handicrafts-item-8,.handicrafts-item-9,.handicrafts-item-10,.handicrafts-item-11 {
            background-position-y: 0;
            width: 100%;
            padding: 15px 0;
            height: 500px;

        }
        .recipes-item-1,.recipes-item-2,.recipes-item-3,.recipes-item-4,.recipes-item-5,.recipes-item-6,.recipes-item-7,.recipes-item-8,.recipes-item-9,.recipes-item-10,.recipes-item-11{
            background-position-y: 0;
            width: 100%;
            padding: 15px 0;
            height: 500px;

        }
        .art-item-1,.art-item-2,.art-item-3,.art-item-4,.art-item-5,.art-item-6,.art-item-7,.art-item-8,.art-item-9,.art-item-10,.art-item-11 {
            background-position-y: 0;
            width: 100%;
            padding: 15px 0;
            height: 500px;

        }
        .handicrafts-item-1 .item-title,.handicrafts-item-2 .item-title,.handicrafts-item-3 .item-title,.handicrafts-item-4 .item-title,.handicrafts-item-5 .item-title,.handicrafts-item-6 .item-title,.handicrafts-item-7 .item-title,.handicrafts-item-8 .item-title,.handicrafts-item-9 .item-title,.handicrafts-item-10 .item-title,.handicrafts-item-11 .item-title{
            position: relative;
            top: 400px;
            font-size: 40px;
            max-width: 100%;
        }
        .recipes-item-1 .item-title,.recipes-item-2 .item-title,.recipes-item-3 .item-title,.recipes-item-4 .item-title,.recipes-item-5 .item-title,.recipes-item-6 .item-title,.recipes-item-7 .item-title,.recipes-item-8 .item-title,.recipes-item-9 .item-title,.recipes-item-10 .item-title,.recipes-item-11 .item-title {
            position: relative;
            top: 400px;
            font-size: 40px;
            max-width: 100%;
        }
        .art-item-1 .item-title,.art-item-2 .item-title,.art-item-3 .item-title,.art-item-4 .item-title,.art-item-5 .item-title,.art-item-6 .item-title,.art-item-7 .item-title,.art-item-8 .item-title,.art-item-9 .item-title,.art-item-10 .item-title,.art-item-11 .item-title {
            position: relative;
            top: 400px;
            font-size: 40px;
            max-width: 100%;
        }

    }
    //EVENTS
    #events{
        img{
            display: none;   
        }
        .events-items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
            position: relative;
            .events-item-first {
                width: 100%;
                padding: 15px 0;
                transform: rotate(0deg);
                height: 150px;
                border: none;
            }
            .events-item-front {
                width: 100%;
                padding: 15px 0;
                height: 500px;
                .event-date {
                    position: relative;
                    top: 400px;
                    font-size: 50px;
                    color: #555;
                    max-width: 100%;
                    transition: all 0.5s ease-in-out;
                }
                .event-details{
                    position: relative;
                    top: 0;
                    font-size: 50px;
                    color: #555;
                    max-width: 100%;
                }
                .ticket{
                    transition: all.5s ease-in-out; 
                    .get-tickets{
                        padding: 30px;
                        border: none;
                        border-radius: 5px;
                        color: #fff;
                        font-family: inherit;
                        font-size: 35px;
                        margin-top: 15px;
                    }
        
                }
            }
        }
    }
    //BOOKS
    ul.tabs li {
        background: #bc3428;
        color: #fff;
        font-size: 25px;
        border-radius: 5px 5px 0 0 ;
        width: 96% ;
        text-align: center;
    }
    //MUSIC
    section#music h1 {
        margin-left: 30%;
    }
    //SIDEBAR
    .sidebar{
        display: none;
    }
    ul.Instructions img {
        width: 100%;
        margin: 25px 0;
    }
    //COMMENTS
    input[type="text"] {
        width: 100% !important;
    }
    textarea{
        width: 100% !important;
    }
    //ITEMS
    .item .item-text img {
        width: 100%  ;
    }
    
    //FOOTER
    footer .scrollToTop{
        display: none !important;
    }
    //AD
    .ad {
        height: 100%;
    }
}

@media screen and (max-width: 767px){
    .logo{
        display: none;
    }
    .logo-mobile {
        display: block;
        margin: 25px 55px;
        float: left;
    }
    section.articles {
        display: block;
    }
    .latest-posts {
        display: grid;
        grid-template-columns: repeat(1, 1fr) ;
    }
    .topics-button {
        display: none;
    }
    ul.main-menu {
        display: none;
    }
    .menu-item-title {
        font-size: 40px;
        margin: 0;
        padding: 25px;
    }
    .mobile-menu {
        display: block;
        position: absolute;
        right: 60px;
        top: 60px;
        font-size: 20px;
        width: 130px;
    }
    .mobile-button {
        border: 3px solid #fff;
        border-radius: 5px;
        color: #fff;
        position: absolute;
        text-align: center;
        line-height: 2;
        font-family: sans-serif;
        background-image: url(images/search.png);
        display: block;
        width: 200px;
        font-size: 40px;
        right: 0px;
    }
    ul.mobile-menu-list {
        display: inline-block;
        color: #fff;
        position: relative;
        margin-right: 215px;
        margin-top: 60px;
        a {
            font-size: 25px;
            border: 1px solid #fff;
            display: inherit;
            color: #fff;
            padding: 30px;
        }
    }
    input#topic-search {
        width: 875px;
        height: 60px;
        border-radius: 5px;
        margin-left: 4%;
        padding: 25px;
        font-size: 20px;
        margin-top: 30px;
    }
    //PLAYGROUND
    #handicrafts, #recipes, #art{
        img{
            display: none;   
        }
        .handicrafts-items, .recipes-items, .art-items  {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
            position: relative;
        }
        .handicrafts-item-first, .recipes-item-first, .art-item-first {
            width: 100%;
            padding: 0;
            transform: rotate(0deg);
            border: none;
            height: 150px;
        }
        .handicrafts-item, .recipes-item, .art-item {
            background-position-y: 0;
            width: 100%;
            padding: 15px 0;
            height: 500px;

        }
        .handicrafts-item .item-title, .recipes-item .item-title {
            position: relative;
            top: 400px;
            font-size: 40px;
            color: #fff;
            max-width: 100%;
        }
        .art-item .item-title {
            position: relative;
            top: 400px;
            font-size: 40px;
            color: #555;
            max-width: 100%;
        }

    }
    //EVENTS
    #events{
        img{
            display: none;   
        }
        .events-items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
            position: relative;
            .events-item-first {
                width: 100%;
                padding: 15px 0;
                transform: rotate(0deg);
                height: 150px;
                border: none;
            }
            .events-item-front {
                width: 100%;
                padding: 15px 0;
                height: 500px;
                .event-date {
                    position: relative;
                    top: 400px;
                    font-size: 50px;
                    color: #555;
                    max-width: 100%;
                    transition: all 0.5s ease-in-out;
                }
                .event-details{
                    position: relative;
                    top: 0;
                    font-size: 50px;
                    color: #555;
                    max-width: 100%;
                }
                .ticket{
                    transition: all.5s ease-in-out; 
                    .get-tickets{
                        padding: 30px;
                        border: none;
                        border-radius: 5px;
                        color: #fff;
                        font-family: inherit;
                        font-size: 35px;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    //BOOKS
    ul.tabs li {
        background: #bc3428;
        color: #fff;
        font-size: 25px;
        border-radius: 5px 5px 0 0 ;
        width: 96% ;
        text-align: center;
    }
    //MUSIC
    section#music h1 {
        margin-left: 30%;
    }
    //SIDEBAR
    .sidebar{
        display: none;
    }
    ul.Instructions img {
        width: 100%;
        margin: 25px 0;
    }
    //COMMENTS
    input[type="text"] {
        width: 100% !important;
    }
    textarea{
        width: 100% !important;
    }
    //ITEMS
    .item .item-text img {
        width: 100% ;
    }
    
    //FOOTER
    footer .scrollToTop{
        display: none !important;
    }
    //AD
    .ad {
        min-height: 100%;
    }
}

























